:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 .5rem;
    background-color: var(--theme-dark);
    color: var(--theme-lightest);
}

div.brand {
    display: flex;
    align-items: center;
    gap: .5rem;
}