<canvas #canvas></canvas>
<div class="container">
    <div class="brand">
        Vaultech Solutions
    </div>
    <logo></logo>
    <div class="form-controls">
        <!-- <input type="text" placeholder="First Name*" [formControl]="Controls.controls.Name.controls.First" /> -->
        @if (!IS_Signed_Up) {
        <input type="text" placeholder="First Name*" [class.not_valid]="!Controls.First_Name.IS_Valid"
            [(ngModel)]="Controls.First_Name.Value" (focusout)="Controls.Validate('First')" />
        <input type="text" placeholder="Last Name*" [class.not_valid]="!Controls.Last_Name.IS_Valid"
            [(ngModel)]="Controls.Last_Name.Value" (focusout)="Controls.Validate('Last')" />
        <input type="email" placeholder="Email*" [class.not_valid]="!Controls.Email.IS_Valid"
            style="grid-column: 1 / span 2;" [(ngModel)]="Controls.Email.Value"
            (focusout)="Controls.Validate('Email')" />
        <input type="text" placeholder="Company Name*" [class.not_valid]="!Controls.Company_Name.IS_Valid"
            style="grid-column: 1 / span 2;" [(ngModel)]="Controls.Company_Name.Value"
            (focusout)="Controls.Validate('Company_Name')" />
        <button class="action-button" (click)="Submit()"
            [disabled]="!Controls.First_Name.IS_Valid || !Controls.Last_Name.IS_Valid || !Controls.Email.IS_Valid || !Controls.Company_Name.IS_Valid">Secure
            your Future Today!</button>
        } @else {
        <button class="action-button" (click)="Set_Signed_Up(false)">Your Future Is Secured!</button>
        }
    </div>
</div>