:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

canvas {
  position: absolute;
  background-color: #ffd700;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
}

div.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  >div.brand {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
  }

  >logo {
    width: 40vw;
    display: block;
    margin-bottom: 1rem;
  }

  >div.form-controls {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5rem;
    background-color: grey;
    padding: .5rem;
    z-index: 2;

    >input.not_valid {
      outline: 2px solid rgb(192, 63, 89);
    }

    >button.action-button {
      background-color: seagreen;
      color: white;
      grid-column: 1 / span 2;
      cursor: pointer;
    }

    >button.action-button:hover {
      filter: brightness(1.2);
    }
  }

  @media screen and (max-width: 490px) {
    > div.form-controls {
      display: flex;
      flex-direction: column;
  
      >button.action-button {
        grid-column: unset;
      }
    }
}


}