:host {
    height: 100vh;
    width: 100vw;
    --header-height: 32px;
}

app-header {
    height: var(--header-height);
}

@media screen and (max-width: var(--max-width-phone)) {
    :host {
        --header-height: 64px
    }
}

div.container {
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}