svg {
  outline: 1px solid white;
  width: 100%;
  height: 100%;
  > polygon {
    fill: lime;
    stroke: brown;
    stroke-width: 3;
  }
  > path {
    stroke: white;
    fill: none;
  }
  > circle {
    stroke: white;
    /* fill: lime;
        stroke: brown;
        stroke-width:3 */
  }
}
