/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --theme-darkest: #251719;
  --theme-dark: #2E294E;
  --theme-medium: #1B998B;
  --theme-light: #D7263D;
  --theme-lightest: #ffffff;

  --max-width-phone: 490px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
} 

* {
  font-family: "Mulish";
  font-size: calc(15px + 0.390625vw);
}

input {
  height: 32px;
  border-radius: 5px;
  border: 0;
}

input:focus {
  outline: none;
}

button {
  height: 32px;
  border-radius: 5px;
  outline: none;
  border: 0;
}